//widescreens
@include mediaXl {
}

//desktop & laptops
@include mediaLg {
}

//tablets & small laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav {
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    font-size: 24px;
  }

  .about-info {
    grid-template-areas:
      "bio-image"
      "bio"
      "info-1"
      "info-2"
      "info-3";

    grid-template-columns: 1fr;
  }
}

//smart phones
@include mediaSm {
  main#home {
    margin-top: 10vh;
  }
}
